<header>
  <h1>ASSEMBLE STARTER</h1>
  <nav>
    <ul>
      <li><a href="#" class="active">HOME</a></li>
      <li><a href="#">ABOUT US</a></li>
      <li><a href="#">PRODUCTS &amp; SERVICES</a></li>
      <li><a href="#">CONTACT US</a></li>
    </ul>
  </nav>
</header>
<div id="nav-indicator"></div>