<div id="slider" class="swipe">
  <div class="swipe-wrap">
    <div><img src="http://placehold.it/1140x402/74c7a7/ffffff" alt=""></div>
    <div><img src="http://placehold.it/1140x402/ff6666/ffffff" alt=""></div>
    <div><img src="http://placehold.it/1140x402/cc66ff/ffffff" alt=""></div>
  </div>
</div>